@import "tailwindcss";

@layer utilities {
  .container {
    @apply max-w-285 mx-auto;
  }
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-dmt-black-2: #38435c;
  --color-linear-1: #ff1e1e;
  --color-linear-2: #ff8079;
  --color-brand-red-2: #df3636;
  --color-brand-blue-1: #4285fa;
  --color-brand-blue-2: #ff8079;
  --color-brand-green-1: #34a853;
  --color-brand-green-2: #eff8f2;
  --color-brand-green-lin-1: #ffffff;
  --color-brand-green-lin-2: #34a853;
  --color-brand-yellow-1: #f88513;
  --color-brand-yellow-2: #fdf5e6;
  --color-brand-yellow-lin-1: #f88513;
  --color-brand-yellow-lin-2: #ffffff;
  --color-brand-gray-1: #6f7b88;
  --color-brand-gray-2: #a9b0b8;
  --color-brand-gray-3: #e9f0f8;
  --color-brand-rating-1: #ffa600;
  --color-brand-rating-2: #ff6c10;
}